{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<div class="container-fluid shrink" style="margin-top: 75px">
    <div class="row">
        <div class="col-sm-4 col-sm-push-8">
            <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">home</a></li>
                <li><a href="{% url 'profile' project.user %}">profile</a></li>
                <li class="active">detail</li>
            </ol>
                <div class="thumbnail">
                    <img id="detail-img" src="{% static 'images/B4.png' %}" alt="profile-img">
                    <div class="caption">
                        <a href="{% url 'profile' project.user %}"><h3>{{ project.user }}</h3></a>
                        <p>projects: {{ projects.count }}</p>
                        <a href="{% url 'profile' project.user %}"><button class="btn btn-default green" role="button">view profile</button></a>
                    </div>
                </div>
            </div>
        </div>   
        <div class="col-sm-8 col-sm-pull-4">        
            <div class="col-sm-12">
                <div class="thumbnail">
                    {% if project.image %}
                    <img src="{{ project.image.url }}" class="img-responsive"/>
                    {% endif %}
                    <div class="caption">
                        {% if project.document %}
                            <a href="{{ project.document.url}}"><h3>{{ project.name }}</h3></a>
                        {% else %}            
                        <h3>{{ project.name }}</h3>
                        {% endif %}
                        <h5>--{{ project.user }} | {{ project.timestamp|timesince }} ago</h5>
                        <p>{{ project.content }}</p>
                        <hr/>                                
                        <div class="row">                                  
                            <button id="likes" data-id="{{ project.id }}" class="btn btn-mini btn-danger glyphicon glyphicon-heart" type="button">
                            {% if project.likes > 0 %} 
                                {{ project.likes }}
                            {% endif %}
                            </button>                            
                            <button id="comment2" class="btn btn-mini" type="button"><span class="glyphicon glyphicon-comment" aria-hidden="true">
                            {% if project.comments.count > 0 %}
                            </span>{{ project.comments.count }}
                            </button>
                            {% endif %}
                            {% if request.user == project.user %}
                                <a href="/{{ project.slug }}/edit"><button id="edit" class="btn btn-mini" type="button"><span class="glyphicon glyphicon-plus-sign"></span></button></a>
                                <a href="/{{ project.slug }}/delete"><button id="delete" class="btn btn-mini"type="button"><span class="glyphicon glyphicon-trash"></span></button></a>
                            {% endif %}
                            {% if user.is_authenticated %}
                                {% if project.document %}
                                <a href="{{ project.document.url }}"><button id="view_more" class="btn btn-mini btn-primary glyphicon glyphicon-floppy-disk" type="button">
                                </button></a>
                                {% endif %}  
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <form class="comment-form" action="comment/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form comment_form %}
                    <button class="btn btn-default" type="submit" value="submit">add comment</button>         
                </form>
                {% endif %}   
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="container-fluid">
    <p class='lead'>Comments</p>
    <hr>
        {% for comment in project.comments.all %}        
            <blockquote class="well">
                <p>{{ comment.comment }}</p>
                <footer>via {{ comment.author }} | {{ comment.timestamp|timesince }} ago</footer>
            </blockquote>
        {% empty %}
            <p>No comments here yet</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
